@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}





@*@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}*@


<!DOCTYPE html>
<html lang="zxx">



<body>


    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">



                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">

                                @*<img src="~/CoreBlogTema/images/b1.jpg" class="img-fluid" alt="">*@
                                <img src="@Model.BlogThumbnailImage" class="img-fluid" style="height: 392px; width: 698px; object-fit: cover;" alt="">


                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime) Model.BlogCreatingDate).ToString("dd-MMM-yy"))
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-thumbs-up"></i> 201 Likes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-comment"></i> @Model.BlogCommentCount Comments
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <h3>
                            <a href="single.html">@Model.BlogTitle </a>
                        </h3>
                        <p>
                            @Model.BlogContent
                        </p>
                        <a href="/Blog/Index" class="btn btn-primary read-m">Blog Listesi</a>
                    </div>

                    @*@await Html.PartialAsync("~/Views/Comment/PartialCommentList.cshtml")*@
                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.id })


                <div id="CommentList">@await Component.InvokeAsync("AddComment")</div>




                    @*@await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")*@

                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">






                        <div id="CustomerList">
                            <h4>Mail Bültenine Abone Olun</h4>
                            <div class="tech-btm">
                                <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
                            </div>
                            @await Component.InvokeAsync("MailEkleme")
                        </div>
                        @await Component.InvokeAsync("CategoryList")
                        @*@await Component.InvokeAsync("WriterLastBlog")*@

                        @await Component.InvokeAsync("WriterLastBlog", new { id = Model.WriterID })









                        <div class="single-gd my-5 tech-btm">
                            <h4>Our Progress</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

</aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
    <!---->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="js/bootstrap.js"></script>
    

</body>

</html>